*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    background-color: #f7f7f7;
}

nav{
    background-color:#8C8E79;
}

nav div { 
    color: white;
}

main img{
    width: 100%;
}

.navWhiteHead{
    color: white;
    font-size: 35px;
}

.navWhite{
    color: white;
}

/* aside{
    padding: 10px;
    background-color: #8C8E79;
    color: #f7f7f7;
    margin-top: 10px;
} */

aside span{
    font-size: 40px;
}

aside p{
    text-indent: 20px;
}

footer{
    padding: 10px;
    background-color:#8C8E79;
}